* {

}

.hidden {
  visibility: hidden;
}

.title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 5px red;

}

.main-content {
  display: flex;
  border: solid 5px orange;

}

.search-bar {
  display: flex;
  justify-content: center;
}

.tag-widget {
  height: 65px;
  width: 100%;
  border: solid green 5px;
}

.pantry-items {
  display: flex;
  width: 20vw;
  border: solid 5px blue;
}

.recipe-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  border: solid 5px red;
}

.saved-want-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  border: solid 5px red;
}

.saved-recipe {
  border: black 2px solid;

}

.user-info {
  margin: 15px;
}

.single-recipe-result {
  position: relative;
  margin: 20px;
  height: 300px;
  width: 250px;
  border: lightgrey 1px solid;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

#results-count {
  font-size: 20px;
  font-style: italic;
}

#search-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#search-results > *:hover {
  box-shadow: 0px 0px 15px grey;
}

#recipe-name {
  position: absolute;
  bottom: 70px;
  margin: 15px;
}

#recipe-tags {
  font-style: italic;
  position: absolute;
  bottom: 25px;
  margin: 15px;
}

#small-dish-image{
  position: absolute;
  top: 0px;
  height: 175px;
  width: 250px;
}

#home-icon {
  margin: 15px;
  height: 32px;
  width: 32px;
}

#large-dish-image {
  position: relative;
  width: 640px;
  height: 480px;
}
