/* div colors: #0b5a59 */
/* background-color: #051622; */
/* Tan font: #DEB992 */

* {
  background-color: #051622;
  font-family: 'Varela Round', sans-serif;
  color: floralwhite;
}

.hidden {
  display: none !important;
}

h1 {
  margin: 15px;
}

h2 {
  background-color: #0b5a59;
}

h3 {
  display: flex;
  justify-content: center;
  background-color: #0b5a59;
  border-bottom: #DEB992 solid 2px;
  margin: 20px 65px;
}

.check-ingredients {
  width: 80%;
  height: auto;
  border: 2px red solid;
}

.recipe-ingredients {
  display: flex;
  justify-content: center;
  width: 350px;
  background-color: #0b5a59;
  border-radius: 10px;
}

.recipe-instructions{
  margin: 20px;
}

.title {
  text-align: center;
  font-size: 60px;
  transform: rotate(-3deg);
  cursor: pointer;
}

.title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
}

.main-content {
  display: flex;
}

.search-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-bottom: #DEB992 solid 2px;
  margin: 0px 100px;
}

.icon {
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 5;
  margin: 10px;
  background-color: #DEB992a8;
  box-shadow: 0px 0px 10px #fff;
  cursor: pointer;
  border-radius: 50%
}

.ingredients-view {
  background-color: #0b5a59;
  margin: 30px;
  border-radius: 30px;
  width: 350px;
}

.link {
  background: none;
  border: none;
  font-size: 1.5em;
  margin: 20px;
  text-decoration: underline;
  cursor: pointer;
}

.pantry-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0b5a59;
  padding: 30px;
  margin: 30px;
  border-radius: 30px;
}

.pantry-items {
  display: flex;
  width: 20vw;
  background-color: #0b5a59;

}

.recipe-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
}

.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.recipe-name {
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center
}

.recipe-view {
  display: flex;
}

.saved-want-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  background-color: #0b5a59;
  margin: 40px;
  border-radius: 30px;
}

.saved-recipe {
  border: black 2px solid;
}

.user-info {
  margin: 15px;
  width: 200px;
  text-align: right;
}

.single-recipe-result {
  position: relative;
  margin: 20px;
  height: 300px;
  width: 250px;
  border: #DEB992 1px solid;
  background-color: #0b5a59;
}

.chef {
  right: 0px;
}

.heart {
  left: 0px;
}

.heart-recipe-icon{
  position: relative;
  right: 100px;
  height: 40px;
  width: 40px;
  z-index: 5;
  margin: 10px;
}

.home-icon {
  width: 200px;
  cursor: pointer;
}

.chef-recipe-icon {
  position: relative;
  left: 100px;
  height: 40px;
  width: 40px;
  z-index: 5;
  margin: 10px;
}

.large-recipe-image {
  border: solid 2px #DEB992;
}

.in-stock {
  border: 3px green solid;
}

#recipe-name {
  background-color: #051622;
  margin: 0px 30px;
}

#results-count {
  font-size: 20px;
  font-style: italic;
  margin: 15px;
}
#search-display {
  display: flex;
  flex-direction: column;
}

#search-results {
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#search-results > *:hover {
  box-shadow: 0px 0px 15px grey;
}

#recipe-name-card {
  cursor: pointer;
  position: absolute;
  top: 162px;
  margin: 15px;
}

#recipe-tags-card {
  cursor: pointer;
  font-style: italic;
  position: absolute;
  top: 210px;
  margin: 15px;
  width: 220px;
  background-color: #0b5a59;
}

#small-dish-image {
  cursor: pointer;
  position: absolute;
  top: 0px;
  height: 175px;
  width: 250px;
}

#home-icon {
  margin: 15px;
  height: 32px;
  width: 32px;
}

#large-dish-image {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: auto;
  margin: 40px 0px;
}

#pantry-title {
  margin: 20px;
}

#user-search-textbox {
  background-color: #DEB992;
  color: black;
}

#instructions {
  background-color: #051622;
  font-style: oblique;
}
